mark{
    background-color:lightcyan
}

.Introduction {
    font-size: 25px;
    font-family: Verdana ;
    color: black;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 2cm;
    margin-left: 3cm ;
    margin-right:3cm;
    border: 2px solid black;
    border-radius: 5px;

}
.Nav{
    text-align: center;
    text-align: top;
    text-decoration: none;
    font-family: Calibri ;
    font-size: 32px;
    color: silver;
    font-weight: bold;
    background-repeat: no-repeat;
    margin-left : 3cm;
    margin-right: 3cm;
    border: 1px solid black;
    border-radius: 5px;
    a{
        text-decoration: none;
        color:cornsilk
    }
    a:hover{
        background-color: darkslategray;
        color:black;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            margin: 1cm;
            color: azure;
            border-radius: 5px;
            cursor: pointer;
        }
    }
}
.tech{
    font-size: 25px;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
    margin-right: 3cm;
    margin-left: 3cm;
    border-radius: 5px;
    margin-top: 1cm;
}
.projects{
    font-size: 25px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-align: top;
    color: black;
    border: 2px solid black;
    margin-right: 3cm;
    margin-left: 3cm;
    margin-top: 1cm;
    a{
        text-decoration: none;
        color:cornsilk
    }
    a:hover{
        background-color: darkslategray;
        color:black;
        border: 2px solid black;
    }
}
.contactinfo{
    font-size: 25px;
    color: black;
    text-align: center;
    margin-top : 1cm;
    margin-left:3cm;
    margin-right:3cm;
    border: 1px solid black;
    border-radius: 5px;
    img {
        width: 50px;
        height: 50px;
        margin: 1cm;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline;
        }
        
    }
}
body {
    font-size: 25px;
    font-family: Poppins;
    font-size: large;
    color: black;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-color: darkslategray;
    background-position: center;
    background-size: cover;
}   
footer{
    font-size: 20px;
    text-align: center;
    margin-top: 1cm;
    border: 1px solid black;
    margin-right: 3cm;
    margin-left: 3cm;
    font-family: "https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" ;
}