.Introduction {
    font-family: Verdana ;
    font-size: larger;
    color: black;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 2cm;
    margin-left: 3cm ;
    margin-right:3cm;
    border: 1px solid white;
    border-radius: 5px;
}
.Nav{
    text-align: center;
    text-align: top;
    text-decoration: none;
    font-family: Calibri ;
    font-size: larger;
    color: silver;
    font-weight: bold;
    background-repeat: no-repeat;
    margin-left : 3cm;
    margin-right: 3cm;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            margin: 1cm;
            color: azure;
            border-radius: 5px;
            cursor: pointer;
        }
        li:hover {
            background-color: black;
        }
    }
}
.tech{
    font-size: larger;
    color: black;
    text-align: center;
    text-decoration: none;
    border: 2px solid white;
    margin-right: 3cm;
    margin-left: 3cm;
    border-radius: 5px;
    margin-top: 1cm;
}
.projects{
    font-size: larger;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    text-align: top;
    color: black;
    border: 2px solid white;
    margin-right: 3cm;
    margin-left: 3cm;
    margin-top: 1cm;
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline;
            margin: 1cm;
            color: blue;
            border-radius: 5px;
            cursor: pointer;
        }
        li:hover {
            background-color: black;
        }
    }
}
.contactinfo{
    font-size: larger;
    color: black;
    text-align: center;
    margin-top : 1cm;
    margin-left:3cm;
    margin-right:3cm;
    border: 1px solid white;
    border-radius: 5px;
    img {
        width: 50px;
        height: 50px;
        margin: 1cm;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            display: inline;
        }
        
    }
}
body {
    font-size: larger;
    background-image: url("backgroundphoto.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    font-family: Poppins;
    font-size: large;
    color: black;
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
}
footer{
    text-align: center;
    margin-top: 1cm;
    border: 1px solid black;
    margin-right: 3cm;
    margin-left: 3cm;
    font-family: "Courier New" ;
    font-size: large;
}